main {
  background: rgb(40,167,69);
  background: radial-gradient(circle, rgba(40,167,69,1) 0%, rgba(48,209,85,1) 61%, rgba(255,255,255,1) 100%);
}
.nav-link {
  cursor: pointer;
}
footer {
   margin-top: 16px;
}
